<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>13:00 - 17:00</td>
        <td>🐍 Coding with Python<br>
            <em>IOE - Bedford Way (20) Room 736</em></td>
      </tr>
    </table>
  </div>

  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>13:30 - 16:30</td>
        <td>Reproducibility, version control with git and conda environments<br>
            <em>Charles Bell House G04</em></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td>13:30 - 16:30</td>
        <td>💾 Data Management / 📚 Computational documentation<br>
            <em>IOE - Bedford Way (20) Room 418</em></td>
      </tr>
    </table>
  </div>

  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>
        <td>14:00 - 17:00</td>
        <td>🤖 AI: LLMs to deep learning<br>
            <em>IOE - Bedford Way (20) Room 425</em></td>
      </tr>
      <tr>
        <td>13:30 - 16:30</td>
        <td>📈 Using UCL HPC<br>
            <em>Charles Bell House G04</em></td>
      </tr>
      <tr>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
